img {
  width : 500px;
  height: 400px;
}

body {
  background:url("../img/bg.jpg");
  background-repeat:no-repeat;
}

p{
  font-family: Verdana, serif;
  font-size:14pt;
  font-style:italic;
  font-variant: normal;
}

h1,h2 {
  text-align: center;
}
